{% extends "base.html" %}

{% block title %}FORMS {% endblock title %}

{% block content %}
welcome to enlisting

{% if messages %}
{% for message in messages %} 
<p>{{message}}
</p>
{% endfor %}

{% endif %}

<form method='post' action="{% url 'forms' %}" class="row g-3">     
  {% csrf_token  %}

  <div class="col-md-6">
    <label for="inputf_name" class="form-label">F_NAME</label>
    <input type="text" class="form-control" id="inpuTf_name"  name='f_name'>
  </div>
  <div class="col-md-6">
    <label for="inputs_name" class="form-label">S_NAME</label>
    <input type="text" class="form-control" id="inputs_name">
  </div>
  <div class="col-12">
    <label for="username" class="form-label">USERNAME</label>
    <input type="text" class="form-control" id="inputusername" placeholder="mmkljoseph" name='username'>
  </div>
  <div class="col-12">
    <label for="inputCertification" class="form-label">CERTIFICATION</label>
    <input type="text" class="form-control" id="inputCertificate" placeholder="JSA, ORGANIC, or GRAFTING" name='certification'>
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
   <div class="col-md-6">
    <label for="inputPhone" class="form-label">phone</label>
    <input type="text" class="form-control" id="inputnumber" name='phone'>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
</form>




       
{% endblock content %}